<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2026 SecPal
SPDX-License-Identifier: AGPL-3.0-or-later
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:testOnly="true"
        tools:replace="android:testOnly">

        <receiver
            android:name=".DebugEnterprisePolicyReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="app.secpal.app.action.DEBUG_SET_ENTERPRISE_POLICY" />
                <action android:name="app.secpal.app.action.DEBUG_CLEAR_ENTERPRISE_POLICY" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
